/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

.fruity a {
    color: #2196f3;
}
.fruity .navbar {
    background-color: #2196f3;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #a9a9a9;
}
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
}
.navbar-default .navbar-toggle .icon-bar {
    color: #2196f3;
}
.fruity .nav .open>a {
    color: #fff;
    background-color: #2196f3;
}
.fruity .nav .open>a:focus {
    color: #fff;
    background-color: #2196f3;
}
.fruity .nav .open>a:hover {
    color: #fff;
    background-color: #2196f3;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.fruity a:focus {
    color: #2196f3;
}

.fruity a:hover {
    color: #2196f3;
}
.fruity .dropdown-menu>li>a:hover {
    background-color: #2196f3;
}
.fruity .navbar a.animate > a:hover{
    text-decoration: none;
    border: none;
    background-color: #2196f3;
}
.fruity .navbar a.animate:after {
    background-color: #2196f3;
}
.fruity .navbar-toggle {
    border: solid 1px #2196f3;
}
.fruity .navbar-toggle .icon-bar{
    background-color: #2196f3;
}